body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-image: url(https://bit.ly/2E3scwW);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #b3b3b3;
    background-blend-mode: multiply;
    overflow: hidden;
  }
  body .login {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    min-width: 300px;
    height: 100%;
    padding: 60px 68px 40px;
  }
  body .login-title {
    margin-bottom: 20px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
  }
  body .login-group {
    position: relative;
    z-index: 10;
    display: flex;
  }
  body .login__group__label {
    position: absolute;
    z-index: 15;
    color: #b3b3b3;
    font-size: 0.9rem;
    top: 30px;
    left: 18px;
    transition: all 300ms ease-in;
    will-change: transform;
  }
  body .login-group-input {
    width: 100%;
    position: relative;
    z-index: 10;
    background: #333;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    opacity: 1;
    font-size: 1rem;
    color: #fff;
    line-height: 50px;
    padding: 12px 18px 0;
  }
  body .login-group-input:focus {
    top: 15px;
    font-size: 0.7rem;
  }
  body .login-sign-in {
    margin: 24px 0 12px;
    padding: 16px;
    color: #fff;
    background: #e50914;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #email-text {
    color: white;
  }
  #email-text:hover {
    color: #e50914;
  }
  #possword {
    color: white;
  }
  #possword:hover {
    color: #e50914;
  }
  body .login__secondary-cta {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
  }
  body .login__secondary-cta__text {
    opacity: 1;
    font-size: 0.9rem;
    color: #b3b3b3;
    text-decoration: none;
    will-change: transform;
  }
  body .login__secondary-cta__text--need-help {
    transition: all 0.3s ease-in;
  }
  body .login__secondary-cta__text--need-help:hover {
    text-decoration: underline;
  }
  
  ::-moz-placeholder {
    font-size: 0.7rem;
  }
  
  :-ms-input-placeholder {
    font-size: 0.7rem;
  }
  
  ::placeholder {
    font-size: 0.7rem;
  }
  footer {
    color: white;
    align-items: center;
    justify-content: center;
    margin: 50px 30px;
    cursor: pointer;
  }